<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Edit Customer</title>

	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" 
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen"/>
   
</head>
<body>
<div class="container">
	<h2>Edit Customer</h2>
    <div>
        <form class="form-horizontal" th:object="${customer}" th:action="@{/customers/new}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{lastName}"/>
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{email}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{phone}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address Line 1:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{address1}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address Line 2:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{address2}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">City:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{city}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Zip Code:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{zipCode}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">State:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{state}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
            <div class="row">
                <a th:href="${'/customers'}">Customer list</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
